.quoteWidth {
    background-color: cornsilk;
    height: auto;
    width: 100%;
    border: 1px solid #917e7e;
    border-radius: 10px;
    text-align: right;
    max-width: 35rem;
    margin: 100px auto 0;
}
button {
    margin: 20px;
    position: relative;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    font-weight: 700;
    font-family: "Segoe UI","Tahoma","Geneva","Verdana",sans-serif;
    color: #fff;
    cursor: pointer;
}

